.social {
    display: flex;
    align-items: center;
}

.social__text {
    margin-right: 2rem;

    font-size: 0.8rem;
    color: $black;
    font-weight: 600;
}

.social__link {
    margin-right: 1rem;

    &:hover .social__icon {
        fill: $black;
    }
}

.social__icon {
    display: block;
    width: 30px;
    height: 30px;

    fill: #ababab;

    transition: fill 0.1s linear;

    &--fb {
        width: 22px;
        height: 22px;
    }

    &--ins {
        width: 25px;
        height: 25px;
    }
}